# Ignore list
local/
downlods/
logs/
modernfix/
profileImage/
saves/
schematics/
screenshots/
Xaero*
.curseflient
minecraftinstance.json
observable*
options.txt
patchouli*
rhino*
usercache.json
usernamecache.json
mods/